*{
	margin: 0;
	padding: 0;
}

.cv{
	width: 900px;
	height: 1200px;
	background-color: #FFE4C4;
	margin: 50px auto 50px auto;
}

.cv_area{
	padding: 80px;
}

.cv_header{
	display: flex;
	justify-content: space-between;
}

.text-area{
	margin-top: 50px;
}

.profile_img{
	width: 150px;
	height: 160px;
}

table{
	margin-top: 50px;
	width: 100%;
}
table, th, td{
	border: 1px solid #000;
	border-collapse: collapse;
}